{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

The FT’s Global Prime Property calculator allows you to work out your spending power in seven major global cities around the world. 

Aside from taxes and regulation, international property buys are reliant on two main factors: currency fluctuations and changes in house prices at a local level. Using the live [currency conversion rates](https://markets.ft.com/data/currencies), and [Knight Frank](https://www.ft.com/topics/organisations/Knight_Frank_LLP)’s global property index from June 2017, the calculator can show you much prime property you could afford in [Berlin](https://www.ft.com/topics/places/Berlin), [Hong Kong](https://www.ft.com/topics/places/Hong_Kong), [London](https://www.ft.com/topics/places/London), [New York](https://www.ft.com/stream/a9c81345-5744-383f-8327-3e717bd50fd0), [Paris](https://www.ft.com/topics/places/Paris), [Singapore](https://www.ft.com/topics/places/Singapore) and [Sydney](https://www.ft.com/topics/places/Sydney).

Simply input your budget in your home currency to get started.

{% endmarkdown %}

{% include "./components/property-calculator/property-calculator.html" %}

{% endblock %}
