@import 'o-colors/main';
@import 'components/core/main';
@import 'components/property-calculator/main';
@import 'components/property-calculator/slider';

/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/
