.property-value-slider {
  position: relative;
  display: table;
  width: calc(100% - 20px);
  margin: 0 auto;
  max-width: 600px;
  height: 68px;

  output {
    position: absolute;
    left: 10px;
    bottom: 0;
    color: #26747a;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    width: 50px;
    text-align: center;
    white-space: nowrap;
  }

  .slider-range {
    position: absolute;
    top: 0;
    left:-10px;
    font-size: 14px;

    &.range-max {
      left: auto;
      right: 0;
    }
  }

  @include mediumBreakpoint {
    max-width: 600px;
    height: 73px;
    output {
      font-size: 22px;
    }
    .slider-range {
      font-size: 16px;
    }
  }
}

input[type=range] {
  -webkit-appearance: none;
  margin: 30px 0;
  width: 100%;
  
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #a7a59b;
  border-radius: 2px;
}
input[type=range]::-webkit-slider-thumb {
  border: 3px solid #26747a;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #fff1e0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a7a59b;
}
input[type=range]::-moz-range-track {
  width: 100%;
  
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #a7a59b;
  border-radius: 2px;
}
input[type=range]::-moz-range-thumb {
  border: 3px solid #26747a;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 15px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #a7a59b;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  border: 3px solid #26747a;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #a7a59b;
}
input[type=range]:focus::-ms-fill-upper {
  background: #a7a59b;
}